<div [ngClass]="setClasses()" class="wrapper">


    <div class="movieInfo">

        <button (click)="showInfo()">{{actor.name}}</button>

        <div [ngClass]="movieInfoDisplay">



            <p>Popularity: {{actor.popularity}}</p>
            <p>known for:</p>
            <div class="actor-info">
                <div class="img-and-btn">
                    <img src="{{imageUrl}}{{actor.known_for[0].poster_path}}" alt="">
                    <button>Add movie</button>
                </div>
                <p class="movie.title">{{actor.known_for[0].title}}</p>

            </div>




        </div>
    </div>

    <div class="img-and-btn">
        <img src="{{imageUrl}}{{actor.profile_path}}" alt="" class="poster">

    </div>







</div>