.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.movie {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}



.is-complete {
    text-decoration: line-through;
}

.poster {
    height: 25vw;
    float: right;
    
}

.movieInfo {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-and-btn button {
    
    background-color: green;
    height: 2em;
    border-radius: 0 0 7px 7px;
    width: 100%;

}

.img-and-btn {
    display: flex;
    flex-direction: column;
    width: fit-content;
}



.title-button {
    background-color: grey;
    height: 3em;
}

.btn-default {
    color: white;
    background-color: blue;
  
  }
  
  .btn-change {
    color: Red;
    background-color: white;
  }

  .show-info {
    color: green;
      
  }

  .hide-info {
    display: none;
  }

  .actor-info {
      display: flex;
      
      width:100%;
      
  }

  .actor-info img {
      width: 100px;
  }

  .actor-info button {
      width: 100px;
  }

  .movie-wrapper {
      display: flex;
      flex-direction: column;
  }

  .title-btn {
    width: 20vw;
    height: 5em;
    background-color: hotpink;
}
.see-movies-btn {
    background-color: lightseagreen;
}