<div [ngClass]="setClasses()" class="wrapper">


    <div class="movieInfo">

        <button (click)="showInfo()">{{movie.title}}</button>

        <div [ngClass]="movieInfoDisplay">
            <p>Release date: {{ movie.release_date }}</p>
            <p>Vote: {{ movie.vote_average }}</p>
            <p>Vote count: {{ movie.vote_count }}</p>
            <p>Popularity: {{ movie.popularity }}</p>


        </div>
    </div>

    <div class="img-and-btn">
        <img src="{{imageUrl}}{{movie.poster_path}}" alt="" class="poster">
        <button>Add to watch list</button>
    </div>







</div>