<div [ngClass]="setClasses()" class="wrapper">


    <div class="movieInfo">

        <button (click)="showInfo()" class="title-btn">{{movie.title}}</button>

        <div [ngClass]="movieInfoDisplay">
            <p>Release date: {{ movie.release_date }}</p>
            <hr>
            <p>Vote: {{ movie.vote_average }}</p>
            <hr>
            <p>Vote count: {{ movie.vote_count }}</p>
            <hr>
            <p>Popularity: {{ movie.popularity }}</p>
            <hr>
            <p>Overview:</p>
            <p>{{movie.overview}}</p>
            <hr>
            <p>Actors:</p>

            <div *ngFor="let credit of credits">{{credit.name}} as {{credit.character}}</div>


        </div>
    </div>

    <div class="img-and-btn">
        <img src="{{imageUrl}}{{movie.poster_path}}" alt="" class="poster">
        <button>Add to watch list</button>
    </div>







</div>